

h1 {
  font-family: 'Courier Prime', monospace;
  font-weight: 700;
  text-transform: uppercase;
}

.splash-container {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
  width: 100%;
  z-index: 200;
  height: 100vh;
  padding-top: 100px;
}

.splash-title {
  text-align: center;
  margin: 0 auto;
  background-color: #fff;
  padding: 40px;
  width: 700px;
  border-radius: 4px;
}

.splash {
  padding: 20px;
  border: 4px solid rgba(0,212,255,1);
  border-radius: 4px;
}

.splash-title-vertical {
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-size: 12px;
  color: #fff;
}
