body {
  background: rgb(248,193,255);
  background: linear-gradient(90deg, rgba(248,193,255,1) 0%, rgba(251,255,191,1) 38%, rgba(145,235,254,1) 100%);
}

.container {
  margin-left: 280px;
}

h1 {
  font-family: 'Courier Prime', monospace;
  font-weight: 700;
  text-transform: uppercase;
}

.splash-container {
  background: rgb(248,193,255);
  background: linear-gradient(90deg, rgba(248,193,255,1) 0%, rgba(159,159,247,1) 35%, rgba(0,212,255,1) 100%);
  width: 100%;
  z-index: 200;
  height: 100vh;
  padding-top: 100px;
}

.splash-title {
  text-align: center;
  margin: 0 auto;
  background-color: #fff;
  padding: 40px;
  width: 700px;
  border-radius: 4px;
}

.splash {
  padding: 20px;
  border: 4px solid rgba(0,212,255,1);
  border-radius: 4px;
}

.splash-title-vertical {
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-size: 12px;
  color: #fff;
}

/* card */

.card-container {
  padding: 40px;
  cursor: pointer;
  height: 400px;
  width: 600px;
  perspective: 800px;
  position: relative;
  margin: auto;
  transition: ease-in;
}

.card {
  padding: 20px;
  height: 400px;
  width: 600px;
  position: absolute;
  border: 4px solid rgba(159,159,247,1);
  transform-style: preserve-3d;
  transition: all 0.4s ease-in-out;
}

.card:hover {
  transform: rotateY(180deg);
  transition: all 0.4s ease-in-out;
}

.card .front {
  height: 400px;
  text-align: center;
  width: 600px;
  backface-visibility: hidden;
  position: absolute;
  overflow: hidden;
  background-color: rgba(255, 251, 251, 1);
}

.card .back {
  height: 400px;
  width: 600px;
  backface-visibility: hidden;
  transform: rotateY(180deg);
  background-color: rgba(255, 251, 251, 1);
}

.question {
  padding-top: 140px;
  font-family: 'Courier Prime', monospace;
  font-size: 30px;
}

.answer-container {
  padding: 20px;
  font-family: 'Open Sans', sans-serif;
}

.answer {
  padding-top: 20px;
}
